@model List<COMCMS.Core.AdminMenu>
    @{
        Layout = null;
        Admin admin = ViewBag.Admin;
    }
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="renderer" content="webkit">
        <title>后台管理中心</title>
        <meta name="keywords" content="后台管理中心">
        <meta name="description" content="后台管理中心">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/hplus/css/style.css" rel="stylesheet" />
        <link href="~/hplus/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/hplus/css/animate.css" rel="stylesheet" />
        <script>if (window.top !== window.self) { window.top.location = window.location; }</script>
    </head>

    <body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
        <div id="wrapper">
            <!--左侧导航开始-->
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="nav-close">
                    <i class="fa fa-times-circle"></i>
                </div>
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <span><img alt="image" class="img-circle indexfaceimg" src="~/images/logo.png" /></span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear">
                                        <span class="block m-t-xs"><strong class="font-bold">@admin.UserName</strong></span>
                                        <span class="text-muted text-xs block">@(admin.Roles.RoleName)<b class="caret"></b></span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu animated fadeIn m-t-xs">
                                    @*<li>
                                        <a class="J_menuItem" href="/Admin/User/ChangeAvata">修改头像</a>
                                    </li>*@
                                    <li>
                                        <a class="J_menuItem" href="/AdminCP/Member/EditMe">修改密码</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="/AdminCP/Login/Logout">安全退出</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="logo-element">
                                COMCMS
                            </div>
                        </li>
                        <li style="display:none">
                            <a href="#">
                                <i class="fa fa-home"></i>
                                <span class="nav-label">权限操作</span>
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    @Html.ActionLink("事件权限管理", "EventKey", "Permission", null, new { @class = "J_menuItem" })
                                </li>
                                <li>
                                    @Html.ActionLink("后台栏目管理", "AdminMenuList", "Permission", null, new { @class = "J_menuItem" })
                                </li>
                            </ul>
                        </li>

                        @foreach (var m1 in Model)
                    {
                        if (m1.PId == 0 && m1.IsHide != 1)
                        {
                            var l2 = Model.FindAll(s => s.PId == m1.Id && s.IsHide != 1);
                            <li>
                                <a href="/AdminCP/@(m1.Link)" id="@m1.MenuKey" @(m1.Link != "#" ? "class=J_menuItem" : "")>
                                    @if (!string.IsNullOrWhiteSpace(m1.ClassName))
                                {
                                    <i class="fa @m1.ClassName"></i>
                            }
                                    <span class="nav-label">@m1.MenuName</span>
                                    @if (l2 != null && l2.Count > 0)
                                {
                                    <span class="fa arrow"></span>
                            }
                                </a>
                                @if (l2 != null && l2.Count > 0)
                            {
                                <ul class="nav nav-second-level">
                                    @foreach (var m2 in l2)
                                {
                                    <li>
                                        <a class="J_menuItem" href="/AdminCP/@m2.Link">@m2.MenuName</a>
                                    </li>
                            }

                                </ul>
                        }
                            </li>
                    }
                }

                    </ul>
                </div>
            </nav>
            <!--左侧导航结束-->
            <!--右侧部分开始-->
            <div id="page-wrapper" class="gray-bg dashbard-1">
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                            @*<form role="search" class="navbar-form-custom" method="post" action="" onsubmit="return false;">
                                <div class="form-group">
                                    <input type="text" placeholder="请输入您需要查找的内容 …" class="form-control" name="top-search" id="top-search">
                                </div>
                            </form>*@
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info hidden" data-toggle="dropdown" href="#">
                                    <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
                                </a>
                                <ul class="dropdown-menu dropdown-messages">
                                    <li class="m-t-xs">
                                        @*<div class="dropdown-messages-box">
                        <a href="profile.html" class="pull-left">
                            <img alt="image" class="img-circle" src="~/images/ratuologo.jpg">
                        </a>
                        <div class="media-body">
                            <small class="pull-right">46小时前</small>
                            <strong>小四</strong> 这个在日本投降书上签字的军官，建国后一定是个不小的干部吧？
                            <br>
                            <small class="text-muted">3天前 2014.11.8</small>
                        </div>
                    </div>*@
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a class="J_menuItem" href="mailbox.html">
                                                <i class="fa fa-envelope"></i> <strong> 查看所有消息</strong>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info hidden" data-toggle="dropdown" href="#">
                                    <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
                                </a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    @*<li>
                    <a href="mailbox.html">
                        <div>
                            <i class="fa fa-envelope fa-fw"></i> 您有16条未读消息
                            <span class="pull-right text-muted small">4分钟前</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="profile.html">
                        <div>
                            <i class="fa fa-qq fa-fw"></i> 3条新回复
                            <span class="pull-right text-muted small">12分钟钱</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <div class="text-center link-block">
                        <a class="J_menuItem" href="notifications.html">
                            <strong>查看所有 </strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </li>*@
                                </ul>
                            </li>
                            <li class="hidden-xs">
                                <a onclick="requestFullScreen(document.documentElement)" data-index="0"><i class="fa fa-arrows-alt"></i> 全屏</a>
                            </li>
                            <li class="hidden-xs" style="padding-right:20px">
                                <a href="/" target="_blank" data-index="0"><i class="fa fa-home"></i> 站点首页</a>
                            </li>
                            <li class="dropdown hidden-xs" style="display:none">
                                <a class="right-sidebar-toggle" aria-expanded="false">
                                    <i class="fa fa-tasks"></i> 主题
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="row content-tabs">
                    <button class="roll-nav roll-left J_tabLeft">
                        <i class="fa fa-backward"></i>
                    </button>
                    <nav class="page-tabs J_menuTabs">
                        <div class="page-tabs-content">
                            <a href="javascript:;" class="active J_menuTab" data-id="/AdminCP/Index/Main">首页</a>
                        </div>
                    </nav>
                    <button class="roll-nav roll-right J_tabRight">
                        <i class="fa fa-forward"></i>
                    </button>
                    <div class="btn-group roll-nav roll-right">
                        <button class="dropdown J_tabClose" data-toggle="dropdown">
                            关闭操作<span class="caret"></span>

                        </button>
                        <ul role="menu" class="dropdown-menu dropdown-menu-right">
                            <li class="J_tabShowActive">
                                <a>定位当前选项卡</a>
                            </li>
                            <li class="divider"></li>
                            <li class="J_tabCloseAll">
                                <a>关闭全部选项卡</a>
                            </li>
                            <li class="J_tabCloseOther">
                                <a>关闭其他选项卡</a>
                            </li>
                        </ul>
                    </div>
                    <a href="/AdminCP/Login/Logout" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
                </div>
                <div class="row J_mainContent" id="content-main">
                    <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/AdminCP/Index/Main" frameborder="0" data-id="/AdminCP/Index/Main" seamless></iframe>
                </div>
                <div class="footer">
                    <div class="pull-right">
                        &copy; 2010-@DateTime.Now.Year <a href="javascript:;">COMCMS Admin Panel</a> 1.0
                    </div>
                </div>
            </div>
            <!--右侧部分结束-->
            <!--右侧边栏开始-->
            <div id="right-sidebar">
                <div class="sidebar-container">

                    <ul class="nav nav-tabs navs-3">

                        <li class="active">
                            <a data-toggle="tab" href="#tab-1">
                                <i class="fa fa-gear"></i> 主题
                            </a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab-2">
                                通知
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab-3">
                                项目进度
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="sidebar-title">
                                <h3> <i class="fa fa-comments-o"></i> 主题设置</h3>
                                <small><i class="fa fa-tim"></i> 你可以从这里选择和预览主题的布局和样式，这些设置会被保存在本地，下次打开的时候会直接应用这些设置。</small>
                            </div>
                            <div class="skin-setttings">
                                <div class="title">主题设置</div>
                                <div class="setings-item">
                                    <span>收起左侧菜单</span>
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="collapsemenu">
                                            <label class="onoffswitch-label" for="collapsemenu">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="setings-item">
                                    <span>固定顶部</span>

                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" name="fixednavbar" class="onoffswitch-checkbox" id="fixednavbar">
                                            <label class="onoffswitch-label" for="fixednavbar">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="setings-item">
                                    <span>
                                        固定宽度
                                    </span>

                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" name="boxedlayout" class="onoffswitch-checkbox" id="boxedlayout">
                                            <label class="onoffswitch-label" for="boxedlayout">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="title">皮肤选择</div>
                                <div class="setings-item default-skin nb">
                                    <span class="skin-name ">
                                        <a href="#" class="s-skin-0">
                                            默认皮肤
                                        </a>
                                    </span>
                                </div>
                                <div class="setings-item blue-skin nb">
                                    <span class="skin-name ">
                                        <a href="#" class="s-skin-1">
                                            蓝色主题
                                        </a>
                                    </span>
                                </div>
                                <div class="setings-item yellow-skin nb">
                                    <span class="skin-name ">
                                        <a href="#" class="s-skin-3">
                                            黄色/紫色主题
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">

                            <div class="sidebar-title">
                                <h3> <i class="fa fa-comments-o"></i> 最新通知</h3>
                                <small><i class="fa fa-tim"></i> 您当前有10条未读信息</small>
                            </div>

                            <div>

                                <div class="sidebar-message">
                                    @*<a href="#">
                                        <div class="pull-left text-center">
                                            <img alt="image" class="img-circle message-avatar" src="~/images/ratuologo.jpg">

                                            <div class="m-t-xs">
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                            </div>
                                        </div>
                                        <div class="media-body">

                                            据天津日报报道：瑞海公司董事长于学伟，副董事长董社轩等10人在13日上午已被控制。
                                            <br>
                                            <small class="text-muted">今天 4:21</small>
                                        </div>
                                    </a>*@
                                </div>
                            </div>

                        </div>
                        <div id="tab-3" class="tab-pane">

                            <div class="sidebar-title">
                                <h3> <i class="fa fa-cube"></i> 最新任务</h3>
                                <small><i class="fa fa-tim"></i> 您当前有14个任务，10个已完成</small>
                            </div>

                            <ul class="sidebar-list">
                                <li>
                                    @*<a href="#">
                                        <div class="small pull-right m-t-xs">9小时以后</div>
                                        <h4>市场调研</h4> 按要求接收教材；

                                        <div class="small">已完成： 22%</div>
                                        <div class="progress progress-mini">
                                            <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
                                        </div>
                                        <div class="small text-muted m-t-xs">项目截止： 4:00 - 2015.10.01</div>
                                    </a>*@
                                </li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>
            <!--右侧边栏结束-->

        </div>

        <!-- 全局js -->

        <script src="~/js/jquery2.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/js/layer/layer.js"></script>
        <script src="~/js/rtpost.js"></script>

        <script src="~/hplus/js/plugins/metisMenu/metisMenu.min.js"></script>
        <script src="~/hplus/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <!-- 自定义js -->

        <script src="~/hplus/js/hplus.js"></script>
        <script type="text/javascript" src="~/hplus/js/contabs.js"></script>

        <!-- 第三方插件 -->
        <script src="~/hplus/js/plugins/pace/pace.min.js"></script>
        <script>
            function requestFullScreen(element) {
                if (document.fullscreenElement) {
                    if (document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if (document.msExitFullscreen) {
                        document.msExitFullscreen();
                    } else if (document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if (document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                    }
                } else {
                    var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullScreen;
                    if (requestMethod) {
                        requestMethod.call(element);
                    } else if (typeof window.ActiveXObject !== "undefined") {
                        var wscript = new ActiveXObject("WScript.Shell");
                        if (wscript !== null) {
                            wscript.SendKeys("{F11}");
                        }
                    }
                }

                
            }
        </script>
    </body>

</html>
