@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理中心</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/hplus/css/style.css" rel="stylesheet" />
    <link href="~/hplus/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/hplus/css/animate.min.css" rel="stylesheet" />
    <link href="~/hplus/css/login.css" rel="stylesheet" />
    <link href="~/js/treegrid/jquery.treegrid.css" rel="stylesheet" />
    <script src="~/js/jquery2.min.js"></script>
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">@(DateTime.Now.ToString("yyyy年MM月dd日"))</span>
                        <h5>网站文章数量</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">0</h1>
                        <div class="stat-percent font-bold text-success">
                            <span id="resultspan"></span> <i class="fa fa-bolt"></i>
                        </div>
                        <small>系统总的文章数量</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">全部</span>
                        <h5>网站留言</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">0</h1>
                        <div class="stat-percent font-bold text-info">
                            0 <i class="fa fa-level-up"></i>
                        </div>
                        <small>新留言</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">计划任务</span>
                        <h5>生成sitemap.xml</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins"><button type="button" class="btn btn-success" onclick="doCreateSitemap();">执行生成</button></h1>
                        <div class="stat-percent font-bold text-success">
                            <span id="resultsitemapspan"></span> <i class="fa fa-bolt"></i>
                        </div>
                        <small>如果有更新内容，请执行</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-danger pull-right">最近一个月</span>
                        <h5>活跃用户</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">0</h1>
                        <div class="stat-percent font-bold text-danger">
                            <i class="fa fa-level-up"></i>
                        </div>
                        <small>@(DateTime.Now.Month)月</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>留言</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content ibox-heading">
                        <h3><i class="fa fa-envelope-o"></i> 最新留言</h3>
                        <small><i class="fa fa-tim"></i> 您有0条未读消息</small>
                    </div>
                    <div class="ibox-content">
                        <div class="feed-activity-list">
                            @*@foreach (Guestbook item in ViewBag.listguestbook)
                                {
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"></small>
                                            <strong>@item.UserName</strong>
                                            <div>@item.Title</div>
                                            <small class="text-muted">@item.AddTime.ToString("yyyy-MM-dd HH:mm")</small>
                                        </div>
                                    </div>
                                }*@

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>服务器信息</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover margin bottom">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">项目名称</th>
                                                    <th>详细信息</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center small">本程序绝对路径</td>
                                                    <td>
                                                        @ViewBag.contentPath
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center small">站点物理路径</td>
                                                    <td>
                                                        @ViewBag.rootPath

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center small">服务器地址</td>
                                                    <td>
                                                        @Utils.GetServerUrl()
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center small">程序端口</td>
                                                    <td>
                                                        @ViewBag.port
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center small">本地IP地址</td>
                                                    <td>
                                                        @Utils.GetIP()
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <script src="~/js/treegrid/jquery.treegrid.min.js"></script>
    <script src="~/js/treegrid/jquery.treegrid.bootstrap3.js"></script>
    <script src="~/hplus/js/common.js"></script>
</body>

</html>