@model COMCMS.Core.Article
@{
    ViewBag.title = Model.Title;
    ViewBag.keywords = Model.Keyword;
    ViewBag.description = Model.Description;
    IList<Article> alist = Article.FindAll(Article._.KId == Model.KId, Article._.Sequence.Asc(), null, 0, 0);
    int topkid = ViewBag.kind.PId >0? ViewBag.kind.PId : ViewBag.kind.Id;

}
<div class="banner normal sec-banner">
    @if (string.IsNullOrEmpty(ViewBag.kind.BannerImg))
    {
        <em style="background: url('/images/default/slide-1.jpg') center top no-repeat; background-size: 100%;"></em>
    }
    else
    {
        <em style="background: url('@ViewBag.kind.BannerImg') center top no-repeat; background-size: 100%;"></em>
    }
</div>
<div class="banner mobile sec-banner">
    @if (string.IsNullOrEmpty(ViewBag.kind.BannerImg))
    {
        <em style="background: url('/images/default/slide-1.jpg') center top no-repeat; background-size: 100%;"></em>
    }
    else
    {
        <em style="background: url('@ViewBag.kind.BannerImg') center top no-repeat; background-size: 100%;"></em>
    }
</div>

<div class="sec-nav">
    <div class="cont">
        <ul class="sec-nav-list">
            @foreach (Article a in alist)
            {
                <li class="@(a.Id == Model.Id?"sec-on":"")"><a  href="@ViewsHelper.EchoURL(a)" title="@a.Title">@a.Title</a></li>
            }
        </ul>

        <script type="text/javascript">
            function mbSecNav() {
                var num = $('.sec-nav-list li').length;
                if (num >= 3) {
                    $('.sec-nav-list li').css({ 'width': (640 / 3 / 100) + 'rem' });
                } else if (num == 2) {
                    $('.sec-nav-list li').css({ 'width': (640 / 2 / 100) + 'rem' });
                } else if (num == 1) {
                    $('.sec-nav-list li').css({ 'width': (213 / 100) + 'rem' });
                }
            }
        </script>
    </div>
</div>
<!-- 主体内容 -->
<div class="content au">
    <div class="au-bg">
        <div class="cont">
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#nav_@(topkid)").addClass("nav-on");
    })
</script>
