<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewBag.title</title>
    <meta name="renderer" content="webkit" />
    <meta name="keywords" content="@ViewBag.keywords">
    <meta name="description" content="@ViewBag.description">
    <link href="~/js/swpier/swiper.min.css" rel="stylesheet" />
    <link href="~/images/default/style.css" rel="stylesheet" />
    <script src="~/js/html5shiv.min.js"></script>
    <script src="~/js/jquery2.min.js"></script>
    <script src="~/js/layer/layer.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/swpier/swiper.min.js"></script>
    <script src="~/js/public.js"></script>
</head>
<body>
    <div class="pc" id="main" data-change="1">
        <!-- 头部内容 -->
        <div class="header">
            <div class="cont">
                <a href="/" title="@ViewBag.cfg.SiteName" class="logo">
                    <img src="@ViewBag.cfg.SiteLogo" alt="@ViewBag.cfg.SiteName">
                </a>
                <div class="menu-btn" onclick="mbNav()"><p class="pic-box"><i></i></p></div>

                <div class="menu-box">
                    <div class="menu-bg"></div>
                    <ul class="nav-list">
                        <li id="nav_0"><a href="/" title="首页">首页</a><i></i></li>

                        <li id="nav_1"><a href="@ViewsHelper.EchoURL(Utils.CMSType.ArticleCategory,1)" title="关于我们">关于我们</a><i></i></li>
                        <li id="nav_P"><a href="@ViewsHelper.EchoURL(Utils.CMSType.ProductCategory,1)" title="产品中心">产品中心</a><i></i></li>
                        <li id="nav_2"><a href="@ViewsHelper.EchoURL(Utils.CMSType.ArticleCategory,2)" title="新闻资讯">新闻资讯</a><i></i></li>
                        <li id="nav_3"><a href="@ViewsHelper.EchoURL(Utils.CMSType.ArticleCategory,3)" title="项目案例">项目案例</a><i></i></li>
                        <li id="nav_4"><a href="@ViewsHelper.EchoURL(Utils.CMSType.ArticleCategory,4)" title="用户服务">用户服务</a><i></i></li>
                        <li id="nav_5"><a href="@ViewsHelper.EchoURL(Utils.CMSType.ArticleCategory,5)" title="联系我们">联系我们</a><i></i></li>
                    </ul>
                </div>
            </div>
        </div>
        @RenderBody()
        <!-- 底部内容 -->
        @{ 
            IList<ArticleCategory> allArticleCategorys = ArticleCategory.GetListTree(0, -1, false, false);
            IList<Article> aboutlist = Article.FindAll(Article._.KId == 1 & Article._.IsHide ==0, Article._.Sequence.Asc(), null, 0, 0);

            IList<Category> allCategorys = Category.FindAll(Category._.PId==0 & Category._.IsHide ==0, Category._.Rank.Asc(),null,0,0);
        }
        <div class="footer">
            <div class="foot-top">
                <!-- 底部导航栏 移动端下显示 -->
                <div class="foot-nav mobile">
                    <ul class="foot-list">

                        <li>
                            <a href="javascript:;">关于我们<i></i></a>
                            <ul class="foot-sec-nav">
                                @foreach (Article a in aboutlist)
                                {
                                    <li><a asp-controller="Article" asp-action="Detail" asp-route-id="@(a.Id)" title="@a.Title">@a.Title</a></li>
                                }
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">产品中心<i></i></a>
                            <ul class="foot-sec-nav">
                                @foreach(Category c in allCategorys)
                                {
                                <li><a asp-controller="Product" asp-action="Index" asp-route-id="@(c.Id)" title="@(c.KindName)">@(c.KindName)</a></li>
                                }
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">新闻资讯<i></i></a>
                            <ul class="foot-sec-nav">
                                @foreach (ArticleCategory ac in allArticleCategorys)
                                {
                                    if (ac.PId == 2)
                                    {
                                        <li><a asp-controller="Article" asp-action="Index" asp-route-id="@(ac.Id)" title="@ac.KindName">@ac.KindName</a></li>
                                    }
                                }
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">用户服务<i></i></a>
                            <ul class="foot-sec-nav">
                                @foreach (ArticleCategory ac in allArticleCategorys)
                                {
                                    if (ac.PId == 4)
                                    {
                                        <li><a asp-controller="Article" asp-action="Index" asp-route-id="@(ac.Id)" title="@ac.KindName">@ac.KindName</a></li>
                                    }
                                }
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">联系我们<i></i></a>
                            <ul class="foot-sec-nav">
                                @foreach (ArticleCategory ac in allArticleCategorys)
                                {
                                    if (ac.PId == 5)
                                    {
                                        <li><a asp-controller="Article" asp-action="Index" asp-route-id="@(ac.Id)" title="@ac.KindName">@ac.KindName</a></li>
                                    }
                                }
                            </ul>
                        </li>
                    </ul>
                    <script type="text/javascript">
                        $('.foot-list').on('click', 'a', function () {
                            var num = $('.foot-list > li').length;
                            var showed = $(this).parent('li').find('.foot-sec-nav').is(':visible');
                            var length = $(this).parent('li').find('.foot-sec-nav').length;
                            if (!showed) {
                                for (var i = 0; i < num; i++) {
                                    $('.foot-sec-nav').eq(i).slideUp('slow');
                                    $('.foot-list > li').eq(i).find('i').stop().removeClass('round1');
                                }
                                if (length > 0) {
                                    $(this).parent('li').find('.foot-sec-nav').slideDown('slow');
                                    $(this).parent('li').find('i').addClass('round1');
                                }
                            } else {
                                if (length > 0) {
                                    $(this).parent('li').find('.foot-sec-nav').slideUp('slow');
                                    $(this).parent('li').find('i').removeClass('round1');
                                }
                            }
                        });
                    </script>
                </div>
                <div class="cont">
                    <!-- 底部公司信息 -->
                    <div class="foot-info">
                        <div class="foot-title">
                            <span>COMCMS 内容管理系统</span>
                            <small>COMCMS Technology Co.，Ltd</small>
                        </div>
                        <div class="foot-info-cont">
                            <ul>
                                <li><span><i class="foot-ico3"></i>电话：</span><span>+86-20-88888888</span></li>
                                <li><span><i class="foot-ico1"></i>传真：</span><span>+86-20-88888888</span></li>
                                <li><span><i class="foot-ico2"></i>邮箱：</span><span>hogenwang@vip.qq.com</span></li>
                                <li><span><i class="foot-ico4"></i>地址：</span><span class="foot-address">广东省广州市天河区天河城</span></li>
                            </ul>
                        </div>
                    </div>
                    <!-- 底部在线留言 -->
                    <div class="foot-msg">
                        <span>在线留言</span>
                        <form class="foot-msg-box" id="footerMessageForm" name="footerMessageForm" onsubmit="return doPostFooterMessage();" asp-antiforgery="true">
                            <p><input type="text" name="name" id="name" value="" placeholder="姓名" required></p>
                            <p><input type="text" name="phone" id="phone" value="" placeholder="电话" required></p>
                            <p class="f-ta"><textarea name="content" id="content" rows="8" cols="80" placeholder="留言内容" required></textarea></p>
                            <p><button type="submit">提    交</button></p>
                        </form>
                    </div>
                    <!-- 底部导航栏 PC版下显示-->
                    <div class="foot-nav normal">
                        <dl class="foot-nav-list">
                            <dt>关于我们</dt>
                            @foreach (Article a in aboutlist)
                            {
                                <dd><a asp-controller="Article" asp-action="Detail" asp-route-id="@(a.Id)" title="@a.Title">@a.Title</a></dd>
                            }
                        </dl>
                        <dl class="foot-nav-list">
                            <dt>新闻资讯</dt>
                            @foreach (ArticleCategory ac in allArticleCategorys)
                            {
                                if (ac.PId == 2)
                                {
                                    <dd><a asp-controller="Article" asp-action="Index" asp-route-id="@(ac.Id)" title="@ac.KindName">@ac.KindName</a></dd>
                                }
                            }
                        </dl>
                        <dl class="foot-nav-list">
                            <dt>产品中心</dt>
                            @foreach (Category c in allCategorys)
                            {
                                <dd><a asp-controller="Product" asp-action="Index" asp-route-id="@(c.Id)" title="@(c.KindName)">@(c.KindName)</a></dd>
                            }
                        </dl>
                        <dl class="foot-nav-list">
                            <dt>用户服务</dt>
                            @foreach (ArticleCategory ac in allArticleCategorys)
                            {
                                if (ac.PId == 4)
                                {
                                    <dd><a asp-controller="Article" asp-action="Index" asp-route-id="@(ac.Id)" title="@ac.KindName">@ac.KindName</a></dd>
                                }
                            }
                        </dl>
                        <dl class="foot-nav-list">
                            <dt>联系我们</dt>
                            @foreach (ArticleCategory ac in allArticleCategorys)
                            {
                                if (ac.PId == 5)
                                {
                                    <dd><a asp-controller="Article" asp-action="Index" asp-route-id="@(ac.Id)" title="@ac.KindName">@ac.KindName</a></dd>
                                }
                            }
                        </dl>
                    </div>
                </div>
            </div>
            <div class="foot-bottom">
                <div class="cont">
                    <span>@ViewBag.cfg.Copyright <a href="http://www.comcms.com/" target="_blank"> 技术支持：COMCMS</a>&nbsp;<a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备8888888号-1</a> Powered by .NET Core 3.1 on @COMCMS.Common.Utils.GetOSPlatform() Server</span>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        init();
        $(window).resize(function () {
            init();
        });
        if (!IsPC()) {
            cds();
        }
        //proShow();
        //coopSwiper();
        var mySwiper = new Swiper('.banner .swiper-container', {
            loop: true,

            // 如果需要前进后退按钮
            nextButton: '.banner-next',
            prevButton: '.banner-prev',
            autoplay: 3000,
        })

        var mySwiper1 = new Swiper('.banner .mobile', {
            loop: true,
            autoplay: 3000,
        });
    </script>
</body>
</html>
